<header class="main-header">
    <nav class="main-header__nav">
        <ul class="main-header__item-list">
            <li class="main-header__item"><a class="<%= path === '/groceriesgen' ? 'active' : '' %>" href="/groceriesgen">Recipe List</a></li>
            <li class="main-header__item"><a class="<%= path === '/groceriesgen/add-recipe' ? 'active' : '' %>" href="/groceriesgen/add-recipe">Add Recipe</a></li>
        </ul>
    </nav>
</header>