<%- include('includes/head.ejs') %>
</head>

<body>
    <main>
        <div class="jumbotron">
            <div class="container">
                <h1 class="display-4">CAACC English Sunday Service Reservation (<%=date%>)</h1>
                <p class="lead">Number of Seats Remaining: <%=seats%></p>
            </div>
        </div>

        <div class="container">
            <div class="row justify-content-md-center">
                <h1>Reservations for this Sunday have been closed, but you can still try walking in</h1>                    
            </div>
        </div>
    </main>
<%- include('includes/end.ejs') %>