<%- include('includes/head.ejs') %>
</head>

<body>
    <main>
        <h1>Welcome to WhatDoor World</h1>
        <p>Services available through browser:</p>
        <ul>
            <li><a href="/CAACC/">COVIDForm - Use this link if you are trying to register for CAACC Sunday Service</a></li>
        </ul>
    </main>
<%- include('includes/end.ejs') %>